{% extends 'each_ingridient_base_page.html' %}
{% load get_dict_values %}
{% block content %}
    <div class="col-md-12">
        <h3 class="h3-heading" id="page-heading">{{ ingredient.name }}</h3>
    </div>
    <div class="panel-body">
        <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Supplier</th>
                <th>Order Code</th>
                <th>Brand</th>
                <th>Purchase amount</th>
                <th>Price</th>
                <th style="text-align: right;"><span id="filter-info"></span></th>
              </tr>
            </thead>

      <tbody>
        <tr>
            <td>{{ ingredient.suppliers }}</td>
            <td>{{ ingredient.orderCode }}</td>
            <td>{{ ingredient.brand }}</td>
            <td>{{ ingredient.packSize }}/{{ ingredient.caseQuantity }}</td>
            <td>${{ ingredient.price }}</td>
            <td class="actions">
              <div class="btn-group btn-group-xs">
                <a class="btn btn-default" data-toggle="tooltip" data-original-title="Edit" data-remote="true" href="#"><i class="vmiddle fas fa-edit" aria-hidden="true"></i></a>
                <a data-confirm="Delete this Supplier Ingredient?" class="btn btn-default" data-toggle="tooltip" data-original-title="Delete" data-remote="true" rel="nofollow" data-method="delete" href="#"><i class="vmiddle fas fa-trash" aria-hidden="true"></i></a>
              </div>
            </td>
        </tr>
  </tbody>
  </table>
            <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Ingredient Details
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">


              <dt>Country of Origin:</dt><dd>{{ ingredient.countryOfOrigin }}</dd>
              <dt>Category:</dt><dd>{{ ingredient.category }}</dd>
              <dt>Is Added Sugar:</dt><dd>{{ ingredient.sugarAdded }}</dd>
                <dt>Storage Areas:</dt><dd>{{ ingredient.storageAreas }}</dd>
                <dt>Par Level:</dt><dd>{{ ingredient.parLevel }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
        </div>
    </div>
{% endblock %}